Hud {
    pointer-events: none;

    .pointer-visible {
        pointer-events: all;
    }

    &.camera-movement {
        .pointer-visible {
            pointer-events: none;
        }
    }

    .header {
        left: 50px;
        top: 50px;
        flex-direction: column;

        label {
            font-family: Roboto;
            color: #2571fc;
            font-weight: bolder;
            font-size: 45px;
        }
    }
}
